*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "dmc5font", "Open Sans", sans-serif;
}
@font-face {
    font-family: 'dmc5font';
    src: url('./dmc5font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/login.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header {
    background-color: rgba(255, 228, 196, 0.6);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.299);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.388);
}

.logo a{
    font-size: 2.5rem;
    font-weight: 350;
    color: rgb(44, 44, 233);
    text-decoration: none;
}

.container{
    position: relative;
    margin-top: 20px;
    background-color: transparent;
    width: 420px;
    color: rgb(247, 208, 159);
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.388);
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.container h1{
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}

.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: bisque;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 35px;
    font-size: 16px;
    color: rgb(89, 140, 243);
    padding: 20px 45px 20px 20px;
    transition: padding-left 0.2s;
}

.input-box input::placeholder{
    color: rgb(193, 154, 107);
    padding-left: 13px;

}

.input-box i{
    position: absolute;
    color: bisque;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s;
}

.container .rem-forg{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin: -15px 0px 15px;
}

.rem-forg label input{
    color: white;
    text-decoration: none;
    margin-right: 4px;
}

.rem-forg a{
    color: rgb(160, 100, 26);
    text-decoration: none;
}

.rem-forg a:hover{
    text-decoration: underline;
}

.container .submit-btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-decoration-break: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
}

.container .register-link{
    font-size: 17px;
    text-align: center;
    margin: 20px 0px 15px;
}

.register-link p a{
    color: rgb(255, 193, 117);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}
#muteBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}
#muteBtn:focus{
    outline: none;
}
#muteBtn:hover{
    transform: scale(1.7)
}
#muteIcon{
    scale: 1.5;
    color: rgb(255, 255, 255);
}
@media(max-width: 400px){
    .container{
        position: relative;
        margin-top: 20px;
        background-color: transparent;
        width: 350px;
        padding: 30px 40px;
        border-radius: 10px;
        backdrop-filter: blur(20px);
    }
    .container h1{
        font-size: 30px;
        text-align: center;
        text-decoration: none;
    }
}